.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.searchBar{
    margin-top: 30px;

}
.pagination{
    position: absolute;
    bottom: 0%;
    left: 10%;
    height: 40px;
    width: 80vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.restraunt{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    
}
.pageNo{
    list-style-type: none;
    border: 1px soild rgb(240, 240, 240);
    background-color: transparent;
    margin: 4px;
    width: 20px;
    cursor: pointer;
}
.bg{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}